name: Publish Docker Image 

on:
  push:
    branches:
      - main
  

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: linux/arm64,linux/amd64

      - name: Available platforms
        run: echo ${{ steps.qemu.outputs.platforms }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v1
        with:
          images: keytelematics/docker-node-awscli:20
      
      # - name: Build and push Node 20 Docker image
      #   uses: docker/build-push-action@v2
      #   with:
      #     context: .
      #     platforms: linux/arm64,linux/amd64
      #     push: true
      #     tags: keytelematics/docker-node-awscli:20
      #     labels: ${{ steps.meta.outputs.labels }}
      #     build-args: NODE_IMAGE=20-bookworm

      # - name: Build and push Node 18 Docker image
      #   uses: docker/build-push-action@v2
      #   with:
      #     context: .
      #     platforms: linux/arm64,linux/amd64
      #     push: true
      #     tags: keytelematics/docker-node-awscli:18
      #     labels: ${{ steps.meta.outputs.labels }}
      #     build-args: NODE_IMAGE=18

      # - name: Build and push Node 16 Docker image
      #   uses: docker/build-push-action@v2
      #   with:
      #     context: .
      #     platforms: linux/arm64,linux/amd64
      #     push: true
      #     tags: keytelematics/docker-node-awscli:16
      #     labels: ${{ steps.meta.outputs.labels }}
      #     build-args: NODE_IMAGE=16

      - name: Build and push Node 14 Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/arm64,linux/amd64
          push: true
          tags: keytelematics/docker-node-awscli:14
          labels: ${{ steps.meta.outputs.labels }}
          build-args: NODE_IMAGE=14.0.0-stretch